*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:Arial;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.front{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.front h1{
    font-size:60px;
}

.front p{
    margin-top:20px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.examples{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px;
}

.card{
    width:250px;
    height:300px;
    background:#1b1b1b;
    border-radius:20px;
}